#game {
    width: 600px;
    height: 200px;
    border: 4px solid green;
    margin: auto;
    background-color: lightskyblue;
  }
  
  #mario {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-image: url(img/mario.png);
    position: relative;
    top: 150px;
  }
  
  .jump {
    animation: jump 0.5s linear;
  }
  
  @keyframes jump {
    0% {
      top: 150px;
    }
  
    30% {
      top: 130px;
    }
  
    50% {
      top: 80px;
    }
  
    80% {
      top: 130px;
    }
  
    100% {
      top: 150px;
    }
  }
  
  #goomba {
    width: 40px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;
  
    background-image: url("img/goomba.png");
    background-size: 40px 40px;
  
    animation: enemy 1.5s infinite linear;
  }
  
  @keyframes enemy {
    0% {
      left: 580px;
    }
  
    100% {
      left: -20px;
    }
  }